.headerOption{
    text-transform: capitalize;
    margin-right: 20px;
    color:grey;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headerOption__title{
    font-weight: normal;
    font-size: 12px;
}
.headerOption:hover{
    color: black;
}
.headerOption__avatar{
    object-fit: contain;
    width: 23px !important;
    height:23px !important;

}